* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 30px;
  background-color: #44475a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 32px;
  margin: 0;
  color: #bd93f9;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}


main {
  background-color: #44475a;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

table {
  width: 100%;
}

td {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

input::placeholder{
  color:#99a6f7;
}

input,
select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  background-color:#2c313d;;
  color: #99a6f7;
}

select option[value="null"] {
  color: #6f6f6f;
}

select:focus,
input[type="number"]:focus {
  outline: none;
  box-shadow: 0px 0px 10px 1px rgba(189, 147, 249, 0.5);
}

#botaoCalcular {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #bd93f9;
  color: #f0eaea;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

#botaoCalcular:hover {
  background-color: #6f6f6f;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}

#outputDados {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

li {
  background-color: #44475a;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 16px;
}

li.erro {
  background-color: #ff5555;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
}

.display-none {
  display: none;
}
